In [29]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

In [30]:
data = pd.read_csv('tomates.csv')
data_encoded = pd.get_dummies(data, columns=['tipo_cultivo'])
data_encoded

,ubicacion,tamanio,rdto,uso_fertilizantes,tipo_cultivo_Erecta.,tipo_cultivo_Rastrera.,tipo_cultivo_Semierecta.
0,1572,33997,0.8679,False,0,0,1
1,1059,80481,0.6079,False,0,0,1
2,1242,95781,0.9220,True,0,1,0
3,1286,98904,0.1078,False,1,0,0
4,1109,69298,0.0916,False,0,0,1
...,...,...,...,...,...,...,...
9995,1346,63349,0.0988,False,1,0,0
9996,1242,67465,0.3169,False,0,0,1
9997,1693,36885,0.0580,True,0,1,0
9998,1677,97367,0.4878,False,0,0,1
9999,1557,24907,0.5867,False,1,0,0

In [31]:
X = data_encoded.drop('rdto', axis=1)
y = data_encoded['rdto']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [32]:
model = DecisionTreeRegressor()
model.fit(X_train, y_train)

DecisionTreeRegressor()

In [33]:
# Evaluar el rendimiento del modelo en los datos de prueba
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print('MSE:', mse)

MSE: 0.16564407623